{% extends "frame/layout.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container main-back-color">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <div class="list-group">
          <a href="#" class="list-group-item">League of Legend</a>
          <a href="#" class="list-group-item">Battle Grounds</a>
          <a href="#" class="list-group-item">OverWatch</a>
          <a href="#" class="list-group-item">FIFA Online</a>
          <a href="#" class="list-group-item">Hearthstone</a>
          <a href="#" class="list-group-item">Fornite</a>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="card-body item-back-color">
          <h2>필수 기입사항</h2>
          <div class="dropdown">
            <p class="create-content">게임 종류</p>
            <form action="">
              <select name="gametype" id="gametype">
                <option value="LeagueofLegends">League of Legend</option>
                <option value="BattleGrounds">Battle Grounds</option>
                <option value="OverWatch">OverWatch</option>
                <option value="FIFA">FIFA Online</option>
                <option value="Hearthstone">Hearthstone</option>
                <option value="Fortnite">Fortnite</option>
              </select>
            </form>
          </div>
          <br><br>
          <form action="" method="Post">
            {% csrf_token %}
            <input id="title" type="text" name="fname" value="토너먼트 이름"><br><br>
            <p class="create-content">시작일</p>
            <input id="date" type="date"><br><br>
            <p class="create-content">장소</p>
            <input id="place" type="text" placeholder="대회장소"><br><br>

            <div width="200px">
              <p class="create-content">게임 방식</p>
              <input class="input-radio" type="radio" name="radio" id="radio">
              <label for="radio">5 vs 5</label>
              <input class="input-radio" type="radio" name="radio" id="radio">
              <label for="radio">3 vs 3</label>
            </div>

            <p class="create-content">Contact</p>
            <input type="email" name="contact" value="tournament@gmail.com"><br><br>

            <p class="create-content">상금</p>
            <textarea name="" id="prize" cols="30" rows="5"></textarea>

            <p class="create-content">Rules</p>
            <textarea name="" id="rules" cols="30" rows="5"></textarea>
            <br><br>

            <input id="create" class="btn btn-success" type="submit" value= "Create">
          </form>
          <!-- <strong> :: 출력결과 :: </strong><br><br>
          <div id="result"></div> -->
        </div>
    </div>
  </div>
</div>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>

  <script>

      $("#create").click(function(){

      // 배열을 선언한다.
        var dataArr = new Array();


      // 객체 생성
        var dataObj = new Object();

      // 객체에 input 값을 담는다.
        dataObj.gametype = $("#gametype").val();
        dataObj.title = $("#title").val();
        dataObj.place = $("#place").val();
        dataObj.howtoplay = $("#radio").val();
        dataObj.contact = $("#contact").val();
        dataObj.prize = $("#prize").val();
        dataObj.rules = $("#rules").val();

      // 배열 생성된 객체 삽입
        dataArr.push(dataObj) ;

      // json 형태의 문자열로 만든다.
        var jsonData = JSON.stringify(dataArr);
        // $("#result").html(jsonData);
      });
  </script>
{% endblock %}
