{% extends "frame/layout.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container main-back-color">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <div class="list-group">
          <a href="#" class="list-group-item">League of Legend</a>
          <a href="#" class="list-group-item">Battle Grounds</a>
          <a href="#" class="list-group-item">OverWatch</a>
          <a href="#" class="list-group-item">FIFA Online</a>
          <a href="#" class="list-group-item">Hearthstone</a>
          <a href="#" class="list-group-item">Fornite</a>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="card-body item-back-color">
          <h2>필수 기입사항</h2>
          <div class="dropdown">
            <p class="create-content">게임 종류</p>
            <button width="200px" onclick="myFunction()" class="dropbtn">Select Game</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">League of Legend</a>
              <a href="#">Battle Grounds</a>
              <a href="#">OverWatch</a>
              <a href="#">FIFA Online</a>
              <a href="#">Hearthstone</a>
              <a href="#">Fornite</a>
            </div>
          </div>
          <br><br>
          <form action="/action_page.php" method="Post">
            {% csrf_token %}
            <input type="text" name="fname" value="토너먼트 이름"><br><br>
            <p class="create-content">시작일</p>
            <input type="date" placeholder="내용"><br><br>

            <div width="200px">
              <p class="create-content">게임 방식</p>
              <input class="input-radio" type="radio" name="radio" id="radio">
              <label for="radio">5 vs 5</label>
              <input class="input-radio" type="radio" name="radio" id="radio">
              <label for="radio">3 vs 3</label>
            </div>

            <p class="create-content">Contact</p>
            <input type="email" name="" value="tournament@gmil.com"><br><br>

            <p class="create-content">상금</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>

            <p class="create-content">Rules</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>

            <input class="btn btn-success" type="submit" value= "Create">
          </form>
        </div>
    </div>
  </div>
</div>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
      <!-- /.col-lg-3 -->
{% endblock %}
